*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.navbar{
    width: 100%;
    background-color: bisque;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; 
    height: 4rem;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
nav ul a{
    color: gray;
    font-size: 18px;
}
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 146, 136);
    color: white;
    height: 100%;
    width: 10rem;
}
.portfolio{
    display: flex;
    padding: 3rem 2rem;
    min-height: 100vh;
    justify-content: space-between;
    background: rgb(161, 149, 149);
}
.portfolio .left{
    background: white;
    width: 60%;
    min-height: 100%;
    padding: 2rem;
}
.portfolio .left .card{
    border-top: 2px solid gray;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
  
}
.portfolio .left .card div{
      position: relative;
}
.portfolio .left .card .h3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
position: absolute;
bottom: 7%;
left: 0;
background: rgb(24, 146, 136);
}
.portfolio h2{
    color: rgb(24, 146, 136);
    font-size: 1.8rem;
    padding-bottom: 1rem;
}
.portfolio .right{
    background: white;
    width: 30%;
    height: 55%;
    padding: 2rem;
}
.portfolio .right .about_img{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-top: 2px solid gray;
}
.portfolio .right .about_img img{ 
    width: 50px;
    height: 50px;
    margin: 1rem;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 26, 26);
    color: white;
    height: 5rem;
}
@media  (max-width:479px){
    nav{
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        gap: 1.5rem;
        height: 8rem;
        padding: 0;
       }
       nav .logo{
        width: 100%;
        height: 4rem;
    }
    nav ul{
        width: 100%;
        justify-content: center;
    }
    .portfolio .right .about_img img{ 
        width: 35px;
        height: 35px;
    } 
    .portfolio h2{
        font-size: 1.3rem;
    }
}
@media  (max-width:527px){
    .portfolio .left .card div img{
        width: 100%;
    }
    .portfolio .left .card div{
        width: 100%;
    }
}
@media  (max-width:991px){
.portfolio{
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}
.portfolio .left{
    width: 100%;
}
.portfolio .right{
    width: 100%;
}
}